JWT_SECRET="add secret key here"
MONGODB_URI="add mongodb uri here"
IMAGEKIT_PUBLIC_KEY="add Public key of IMAGEKIT"
IMAGEKIT_PRIVATE_KEY="add private key of IMAGEKIT"
IMAGEKIT_URL_ENDPOINT="add IMAGEKIT of URL"